<a href="https://colab.research.google.com/github/Hariom1-eng/Code-Decode/blob/main/First_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello this is Hariom Patidar here");

Hello this is Hariom Patidar here

In [3]:
vr1=20;
vr2=54.5;
vr3="Hariom Patidar";
print(vr1,vr2,vr3);

20 54.5 Hariom Patidar

In [4]:
var1,var2,var3=5.6,6,"Hariom";
print(var1,'' ,var2,var3);

5.6  6 Hariom

In [5]:
firstname=input("Hariom ");
lastName=input("Patidar");

Hariom Patidar
PatidarPatidar

In [6]:
age=input("Enter the age");
age=int(age)+5;
print(age);

Enter the age18
23

In [7]:
a=10;
print(str(a))
print(float(a));

b="2"
print(int(b));
print(float(b));

10
10.0
2
2.0

In [8]:
print("{}, Acomputer Science pprtal".format("acropolis"))

acropolis, Acomputer Science pprtal

In [9]:
str="This article is written in {}"
print(str.format("Python"));

This article is written in Python

In [10]:
print("Hello India ".format(21))

Hello India

In [11]:
print('Acroplois'*5);

AcroploisAcroploisAcroploisAcroploisAcroplois

In [12]:
for i in range(5):
  print("*"*i)

*
**
***
****

In [13]:
print("\n")
for i in range(4,0,-1):
  print("*"*i);

****
***
**
*

In [15]:
print("\n")
for i in range(6,10,+2):
  print("*"*i)

******
********

In [16]:
for i  in range(1,6):
  print(" "*(6-i),"*"*i)

      *
     **
    ***
   ****
  *****

In [18]:
val=20
age=45
print(f"{val} value is even  and age is  the {age}" )

20 value is even  and age is  the 45

In [19]:
a,b,c=10,20,30
print(a,b,c,sep=":",end=",")

10:20:30,

In [22]:
word='PYTHON'
a,b,c,d,e,f=word
print(a,b,c,d,e,f)

P Y T H O N

In [23]:
x=5
y=10
print('The valu of x is  {} and the valure mof y {}'.format(x,y))

The valu of x is  5 and the valure mof y 10

In [24]:
print("I like {0} and {1}".format('ice cream','choclate'))

I like ice cream and choclate

In [25]:
print('Hello {name}, {greeting}'.format(greeting="Good Morning",name="Hariom"))

Hello Hariom, Good Morning

In [26]:
Hariom ='coffee'
raman='Tea'
Hariom ,raman=raman,Hariom
print("raman :{}".format(raman))
print("Hariom :{}".format(Hariom))

raman :coffee
Hariom :Tea

In [29]:
Hariom ='coffee'
raman='Tea'
Hariom ,raman=raman,Hariom
print(f"raman :{raman}")
print(f"Hariom {Hariom}")

raman :coffee
Hariom Tea

In [27]:
e,f,g,h,i,j,='PYTHON'
s=ord(e)+ord(f)+ord(g)+ord(h)+ord(i)+ord(j)
print(s)

482

In [30]:
import math
print(math.sqrt(9))
print(math.floor(10.8))
print(math.ceil(10.5))
math.pi

3.0
10
11

3.141592653589793

In [32]:
import random
x=random.random()
print("x =",x)

y=random.randint(5,20)
print("y :",y)

x = 0.9794329209434149
y : 13

In [37]:
import datetime

now = datetime.datetime.now()

date = now.date()
year = now.year
month = now.month
day = now.day

print(date)
print(year)
print(month)
print(day)

2026-02-24
2026
2
24

In [36]:
import calendar

year=int(input("Enter Year :"))
month=int(input("Enter the Month:"))

print(calendar.month(year,month))

Enter Year :2026
Enter the Month:02
   February 2026
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28